<slide class="{{ slide.class }}" id="{{ slide.id }}" style="background:white;">
  {{# slide.header }}
  <hgroup>
    {{{ slide.header}}}
  </hgroup>
  {{/ slide.header }}
  <article data-timings="{{ slide.dt }}">
    {{{ slide.content }}}
  </article>
  <!-- References -->
  {{# slide.references }}
    <div class='references'>
    {{{ html }}}
    </div>
  {{/ slide.references }}
  <!-- Presenter Notes -->
  {{# slide.pnotes }}
  <aside class="note" id="{{ id }}">
    <section>
      {{{ html }}}
    </section>
  </aside>
  {{/ slide.pnotes }}
</slide>
